.loader {
	background: black;
	border: 16px solid white;
	border-top-color: grey;
	border-bottom-color: brown;
	margin: auto;
	width: 120px;
	height: 10px;
	border-radius: 50%;
	animation-name: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
